* {
    box-sizing: border-box;
}

body, html {
    background-color: #202024;
    color: #cecece;
    font-family: PT Sans,Helvetica,Arial,sans-serif;
    font-size: 16px;
    /* line-height: 1.42857; */
    min-height: 100%;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.fff {
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

.card {
    width: 650pt;
    border-radius: 10pt;
    padding: 10pt;
    margin: 10pt auto;
    background-color: #333333;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%)
}

.content{
    margin-top: 70pt;
}

.form_filter{
    display: block;
    position: fixed;
    width: 100%;
}

.filters_content{
    background-color: #242428;
    padding: 5pt;
}

.filters_card{
    background-color: #2a2a30;
    border-radius: 10pt;

    display: inline-block;
    padding: 10pt;
}

.filters_buttons{
    background-color: #ffdc7d;
    border-bottom-right-radius: 6pt;
    
    display: block;
    position: fixed;
    
    padding: 5pt;
}
